<div class="sm:ml-64">
  <div class="p-4 rounded-lg dark:border-gray-700 mt-14 overflow-hidden">
    <p
      class="text-white font-bold text-3xl p-4  animate-fade-right animate-delay-150 "
    >
      Communication Tools
    </p>

    <div
      class="slider  animate-flip-down animate-delay-[350ms] "
      style="--width: 150px; --height: 150px; --quantity: 6"
    >
      <div class="list">
        <div class="item" style="--position: 1">
          <img src="messenger.png" alt="" />
        </div>
        <div class="item" style="--position: 2">
          <img src="linkedin.png" alt="" />
        </div>
        <div class="item" style="--position: 3">
          <img src="slack.png" alt="" />
        </div>
        <div class="item" style="--position: 4">
          <img src="discord.png" alt="" />
        </div>
        <div class="item" style="--position: 5">
          <img src="googlemeet.png" alt="" />
        </div>
        <div class="item" style="--position: 6">
          <img src="teams.png" alt="" />
        </div>
      </div>
    </div>

    <p
      class="text-white font-bold text-3xl p-4 animate-fade-right animate-delay-[750ms]"
    >
      Technologies
    </p>
    <div
      class="slider animate-flip-down animate-delay-[850ms]"
      style="--width: 200px; --height: 200px; --quantity: 13"
    >
      <div class="list">
        <div class="item" style="--position: 1">
          <img src="html.png" alt="" />
        </div>
        <div class="item" style="--position: 2">
          <img src="css.png" alt="" />
        </div>
        <div class="item" style="--position: 3">
          <img src="js.png" alt="" />
        </div>
        <div class="item" style="--position: 4">
          <img src="ts.png" alt="" />
        </div>
        <div class="item" style="--position: 5">
          <img src="java.png" alt="" />
        </div>
        <div class="item" style="--position: 6"><img src="c.png" alt="" /></div>
        <div class="item" style="--position: 7">
          <img src="php.png" alt="" />
        </div>
        <div class="item" style="--position: 8">
          <img src="python.png" alt="" />
        </div>
        <div class="item" style="--position: 9">
          <img src="mysql.png" alt="" />
        </div>
        <div class="item" style="--position: 10">
          <img src="angular.png" alt="" />
        </div>
        <div class="item" style="--position: 11">
          <img src="node.png" alt="" />
        </div>
        <div class="item" style="--position: 12">
          <img src="mongodb.png" alt="" />
        </div>
        <div class="item" style="--position: 13">
          <img src="expressjs.png" alt="" />
        </div>
      </div>
    </div>

    <p
      class="text-white font-bold text-3xl p-4 animate-fade-right animate-delay-[1200ms]"
    >
      Other Tools
    </p>

    <div
      class="slider animate-flip-down animate-delay-[1400ms]"
      style="--width: 150px; --height: 150px; --quantity: 5"
    >
      <div class="list">
        <div class="item" style="--position: 1">
          <img src="office.png" alt="" />
        </div>
        <div class="item" style="--position: 2">
          <img src="canva.png" alt="" />
        </div>
        <div class="item" style="--position: 3">
          <img src="trello.png" alt="" />
        </div>
        <div class="item" style="--position: 4">
          <img src="github.png" alt="" />
        </div>
        <div class="item" style="--position: 5"><img src="chatgpt.png" /></div>
      </div>
    </div>
  </div>
</div>
